* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
    border: black;
}

.container {
    margin: 0 auto;
    border-radius: 100px;
    max-width: 1000px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
    padding: 5px;
    color: rgb(7, 7, 7);
}

.links a {
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

.links a:hover {
    text-decoration: underline;
    color: burlywood;
}